@import "../../../UI/styleVariables";

.lang {
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  &.active {
    .lang__selected {
      color: $primaryColor;
    }

    .lang__arr {
      transform: rotateX(180deg);
    }

    .lang__dropdown {
      display: block;
    }
  }

  &__selected {
    padding: 0 10px;
    font-size: 0.95em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__arr {
    filter: invert(100%) sepia(1%) saturate(4417%) hue-rotate(81deg) brightness(119%) contrast(100%);
    width: 12px;
    margin-left: 7px;
    margin-top: 2px;
    transition: transform .2s ease-in;
  }

  &__dropdown {
    display: none;
    background: $darkColor;
    color: $lightColor;
    z-index: 2;
    position: absolute;
    top: 100%;
    right: 10px;
  }

  &__list {
    width: 220px;
  }

  &__item {
    white-space: nowrap;
    padding: 15px 25px;

    img {
      width: 25px;
      margin-right: 5px;
    }

    &:hover {
      background: lighten($darkColor, 10);
    }
  }
}