.lang {
  padding: 0 15px;
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  &__dropdown {
    background: #fff;
    color: #000;
    z-index: 2;
    padding: 15px;
    position: absolute;
    top: 100%;
    right: 0;
  }

  &__list {
    list-style: none;
  }

  &__item {
    white-space: nowrap;
    padding: 8px 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }

    img {
      width: 25px;
      margin-right: 5px;
    }
  }
}