.user__film-list {
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  .user__film-list-header, .film-list__item {
    display: grid;
    grid-template-columns: 60px repeat(auto-fit, minmax(100px, 1fr));
  }

  .user__film-list-header {
    font-size: 18px;
    background: #261f88;
    color: #fff;
    padding: 20px 10px;
  }

  .film-list__item {
    padding: 20px 10px;
    font-size: 18px;
    &:nth-child(2n) {
      background: rgba(221, 221, 221, 0.67);
    }

    &:hover {
      background-color: #26a1b3;
      color: #fff;
    }
  }
}