.user__film-list {
  .user__film-list-header, .film-list__item {
    display: grid;
    grid-template-columns: 60px repeat(auto-fit, minmax(250px, 1fr));
  }

  .user__film-list-header {
    font-size: 18px;
    background: #261f88;
    color: #fff;
    padding: 20px 10px;
  }

  .film-list__item {
    padding: 10px;
    font-size: 16px;
    &:nth-child(2n) {
      background: #c6c6c6;
    }
  }
}