@import "../../../style/styleVariables";
@import "../../../style/resolutionVariables";

.media-list {
  background: #575757;
  margin-top: 40px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  min-height: 100vh;
  &__no-such-films{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 50px 0 50px;
    padding-top: 30px;
    border-top: 1px solid $darkColor;
    min-height: 100vh;
  }
  &__buttons {
    display: inline-flex;
    color: $lightGreyColor;
    font-weight: 400;
    flex-wrap: wrap;
    margin: 30px 30px 10px 30px;
    padding: 10px;
    a {
      text-align: center;
      margin: 0 auto;
      padding: 10px;
      border-radius: 5px;
      font-size: 1.1em;
      &:hover {
        color: $grayColor;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      &.active {
        color: white;
      }
    }
  }
}

@media (max-width: $phoneResolution) {
  .media-list {
    text-align: center;
    &__buttons {
      a {
        padding: 15px;
        width: 100%;
        margin: 5px 0 !important;
      }
    }
  }
  
}

.film-grid {
  text-align: left;
  margin: 10px 50px 0 50px;
  padding-top: 30px;
  border-top: 1px solid $darkColor;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 60px;
  width: fit-content;
}

@media (max-width: 1250px) {
  .film-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: $largeTabletResolution) {
  .film-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .film-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.media-list__loading {
  width: 100px;
  height: 30px;
}