.Button {
  cursor: pointer;
  font-size: 18px;
  padding: 10px 30px;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(172,172,172,1) 100%);
  border-radius: 40px;
  border: none;
}

.Button:hover{
  cursor: pointer;
  font-size: 18px;
  padding: 10px 30px;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
  border-radius: 40px;
  border: none;
}

.Button:active{
  cursor: pointer;
  font-size: 18px;
  padding: 10px 30px;
  color: white;
  background: linear-gradient(180deg, rgba(169,169,169,1) 0%, rgba(41,41,41,1) 100%);
  border-radius: 40px;
  border: none;
}