.main-page {
  background: #000;
  flex: 1 1 auto;
  display: flex;
}

/*-------------SLIDER------------------*/

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/////////////////////////////////////////////////

.slide-background-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-size: cover;
  filter: blur(15px);
  background: black;
  padding: 0 25px;
}

.info-block{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  z-index: 2;
}

.info-block__film-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.text-block{
  box-shadow: 0 0 15px 5px rgb(0, 0, 0);
  width: 400px;
  height: 400px;
  color: #c9c9c9;
  margin: 10px 0 10px 60px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  &__film-title{
    text-align: left;
    font-size: 24pt;
    font-weight: 600;
  }
  &__link{
    color: #c9c9c9;
    text-decoration: none;
    &:hover{
      color: #757575;
    }
  }
  &__rating{
    margin-top: 20px;
    font-weight: 400;
    text-align: left;
  }
  &__rating-star-img{
    position: relative;
    top: 2px;
    max-width: 32px;
    max-height: 32px;
    margin-left: 10px;
  }
  &__description{
    font-weight: 200;
    width: 300px;
    margin-top: 20px;
    font-size: 14pt;
    text-align: left;
  }
}
