@import "../../../../style/resolutionVariables";

.genre-list__column {
  min-width: 280px;
  white-space: nowrap;
  padding: 10px 15px;

  &:not(:last-child) {
    border-right: 1px solid #292929;
  }

}

@media (max-width: $phoneResolution) {
  .genre-list__column {
    min-width: auto;
  }
}

.genre-list__header{
  display: grid;
  grid-template-columns: 40px 40px min-content;
  padding-bottom: 5px;
}