.genre-list__column {
  white-space: nowrap;
  padding: 10px 15px;

  &:not(:last-child) {
    border-right: 1px solid teal;
  }

}

.genre-list__header{
  display: grid;
  grid-template-columns: 40px 40px auto;
  border-bottom: 1px solid teal;
  padding-bottom: 5px;
  & div:last-child {
    margin-left: 5px;
  }
  & div:nth-child(1) {
    color: #139613;
  }
  & div:nth-child(2) {
    color: #ea0000;
  }
}