$primaryColor: #7CC6FE;
$secondaryColor: #861bca;
$secondaryColor2: #3e5386;
$lightColor: #ffffff;
$darkestLightColor: #D9D9D9;
$lightGreyColor: #acacac;
$grayColor: #8c8c8c;
$lightDarkColor: #575757;
$darkColor: #292929;

