@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

a {
  text-decoration: none;
  font-family: inherit;
  &:focus {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

.App{
  font-family: Ubuntu, Arial, "Helvetica Neue", Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}