@import "../../style/styleVariables";
@import "../../style/resolutionVariables";

.genre-page {
  background: $lightDarkColor;
  min-height: 100vh;
  .container {
    padding-top: 40px;
    background: $grayColor;
    max-width: 1540px;
    min-height: 100vh;
    box-shadow: 0 0 55px 4px rgba(0, 0, 0, .5);
    width: 100%;
  }
}
