@import "src/style/styleVariables";
@import "src/style/resolutionVariables";

.login-page {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

//Waves start

.login-page__background {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(100, 107, 127,1) 0%, rgba(214, 214, 214,1) 100%);
    color:white;
}

.inner-header {
    height:75vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: $mediumTabletResolution) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}

@media (max-width: $largeTabletResolution) {
    .inner-header {
        height:85vh;
        width:100%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: $mediumTabletResolution) {
    .inner-header {
        height:85vh;
    }
}


//Waves end

.faUser{
    position: absolute;
    top: 9px;
    left: 5px;
    width: 22px;
    height: 18px;
    background: url("../../images/faUser.svg");
}

.faLock{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 18px;
    height: 24px;
    background: url("../../images/faLock.svg");
}

.login {
    text-align: center;
    background: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px 30px;
    &__title {
        margin-bottom: 40px;
        font-size: 24px;
    }

    &__label {
        color: #8c8c8c;
        margin-bottom: 5px;
        text-align: left;
        display: inline-block;
    }

    &__input{
        display: flex;
    }

    &__icon{
        position: relative;
        width: 36px;
        height: 40px;
        background: white;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-right: 1px solid $lightGreyColor;
    }

    label {
        position: relative;
        text-align: left;
        i {
            position: absolute;
            font-size: 18px;
            bottom: 37px;
            left: 15px;
        }
        input {
            margin-bottom: 20px;
            width: 100%;
            padding: 10px 10px 10px 7px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }

    &__error {
        color: red;
        font-size: 1.1em;
    }

    &__btn {
        margin-top: 15px;
        cursor: pointer;
        color: black;
    }

    &__sign-up {
        margin-top: 20px;
        font-size: 16px;
        color: #616161;
        line-height: 1.5;
    }

    &__link {
        color: #ffffff;
        font-size: 18px;
    }

}
