@import "../../../../../style/styleVariables";
@import "../../../../../style/resolutionVariables";

.genre-list__item {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 40px 40px auto;

  input {
    margin-right: 2px;
  }
}

.genre-list__name {
  margin-left: 5px;
}

.genre-list__label {
  width: 20px;
  height: 20px;
  border: 2px solid $secondaryColor2;
}

.genre-list__yes, .genre-list__no {
  display: none;
}

.genre-list__yes:checked, .genre-list__no:checked {
  & + span {
    position: relative;
    &::before {
      content: '✓';
      position: absolute;
      color: $darkColor;
      font-size: 1.1em;
      font-weight: 600;
      top: 11px;
      left: 0;
    }
  }
}

.genre-list__no:checked + span {
  &::before {
    font-size: 1.8em;
    top: -1px;
    font-weight: 400;
    left: -4px;
    content: '⨯';
  }
}

@media (max-width: $phoneResolution) {

  .genre-list__no:checked + span {
    &::before {
      top: 0;
      left: -2px;
    }
  }
}