@import "../../../../../style/styleVariables";
@import "../../../../../style/resolutionVariables";

.genre-list__item {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 40px 40px auto;

  input {
    margin-right: 2px;
  }
}

.genre-list__name {
  margin-left: 5px;
  color: white;
}

.genre-list__yes, .genre-list__no {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.genre-list__yes-custom, .genre-list__no-custom{
  position: absolute;
  cursor: pointer;
  margin-top: 1px;
  width: 20px;
  height: 20px;
  background-image: url("../../../../../images/Radio.svg");
}

.genre-list__yes:checked + .genre-list__yes-custom{
  background-image: url("../../../../../images/RadioYesCheked.svg");
}

.genre-list__no:checked + .genre-list__no-custom{
  background-image: url("../../../../../images/RadioNoCheked.svg");
}

@media (max-width: $phoneResolution) {

  .genre-list__no:checked + span {
    &::before {
      top: 0;
      left: -2px;
    }
  }
}