$fontColor: rgb(41, 35, 35);
$primary-color: #00005c;

.genre-list__item {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 40px 40px auto;
  color: $fontColor;

  input {
    margin-right: 2px;
  }
}

.genre-list__name {
  margin-left: 5px;
}

.genre-list__label {

}

.genre-list__yes, .genre-list__no {
  width: 1.1em;
  height: 1.1em;
}